* {
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  width: 100%;
}

body {
  overscroll-behavior: auto;
  overflow-y: hidden;
}

main {
  display: grid;
}

.the_container {
  height: calc(100vh - 2em);
  perspective: 2px;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

#name {
  width: 65%;
  padding: 5px;
  left: 0;

  color: black;
  background-color: white;
}

header {
  height: 60px;
  background-color: white;

  /* display: grid;
  grid-template-columns: 50vw 50vw; */
}

/* #navi {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 0;
} */

header a {
  color: black;
  margin: 10px;

  font-family: quicksand, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

nav {
  margin: 3vw 0 0 0vw;
  position: fixed;
  overflow: hidden;
  z-index: 3;
  cursor: pointer;

  top: 2vw;
  right: 0.5vw;
  max-width: 130px;
}

nav a:hover {
  text-decoration: underline;
}

#menu_kasse {
  display: grid;
  width: 5vw;
  max-height: 3vw;
  position: fixed;
  top: 2vw;
  right: 4.7vw;
  z-index: 100;

  cursor: pointer;

  font-family: quicksand, sans-serif;
  font-weight: 500;
  font-style: normal;
}

#menu_kasse:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.5rem;
  font-family: quicksand, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

h2 {
  font-family: quicksand, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-family: quicksand, sans-serif;
  font-weight: 200;
  font-style: bold;
  text-align: center;
}

h4 {
  font-family: quicksand, sans-serif;
  font-weight: 700;
  font-style: bold;
  /* text-align: center; */
}

h5 {
  font-size: 1.2rem;
  font-family: quicksand, sans-serif;
  font-weight: 300;
  font-style: bold;
}

p {
  font-family: quicksand, sans-serif;
  font-weight: 100;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;

  font-family: quicksand, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;

  align-items: center;
}

section {
  width: 100vw;
  left: 0;
  /* scroll-snap-align: start end; */
  /* max-width: 1400px; */
}

.scrollinfo {
  height: 10px;
  width: 100%;
  background-color: white;

  /* position: fixed; */
}

.scrollprogress {
  height: 10px;
  width: 0%;
  background-color: grey;
}

#landing {
  height: 50vw;
  background-color: coral;
}

.border {
  width: 80vw;
  height: 1px;
  margin: auto;
  margin-top: 20px;
  background-color: black;
}

/* SECTION ONE*/
.overskrift {
  text-align: center;
}

.om_mig {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0 10px;
  margin: 0 90px 0 90px;
  margin-bottom: 0px;

  /* max-width: 700px; */
}

.me {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding: 0 10px;
  margin: 0 0px 0 0px;
  margin-bottom: 0px;
}

.image {
  flex-grow: 1;
  flex-basis: 300px;
  justify-content: space-between;
  margin: 5vw 5vw 0vw;

  max-width: 300px;
}

/* .image img {
  height: 50vw;
} */

#left {
  flex-grow: 1;
  flex-basis: 600px;
  max-width: 500px;
  margin: 50px 0 0 0;
  padding: 0 0 50px 0;
  justify-content: center;
}

.exp {
  padding-top: 10px;
}

/*FOLD UD BOX*/

#box {
  background-color: white;
  padding: 15px 10px 40px;
  margin: 0px 0 50px;
  position: relative;
  /* width: 35vw; */
  justify-content: center;
  z-index: 10;
}

#box h2 {
  /* text-align: center; */
  color: black;
}

#box li {
  color: black;

  font-family: quicksand, sans-serif;
  font-weight: 100;
  font-style: normal;
}

#box.lille {
  overflow: hidden;
  max-height: 150px;
}

#box.stor {
  max-height: 3000px;
}

#mere {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

#mere .plus {
  /* background: grey; */
  width: 30px;
  height: 30px;
  color: black;
  text-align: center;
  display: inline-block;

  margin-top: 30px;
  cursor: pointer;

  font-size: 1.5rem;
  font-weight: 500;
}

#box.lille span::after {
  content: "+";
}

#box.stor span::after {
  content: "-";
}

.overlay {
  height: 60px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

li {
  font-family: quicksand, sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* SECTION 2 MY PROJECTS */

#indhold {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);

  padding: 5vw 5vw 5vw 5vw;
  justify-content: center;

  align-items: baseline;
}

.projekt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 20px 0 50px;
}

.img {
  width: 500px;
}

.img_OWMI {
  height: 250px;
  width: 500px;
  background-image: url(imgs/OWMI.png);
  background-size: 100%;
}

.img_koga {
  height: 250px;
  width: 500px;
  background-image: url(imgs/koga.png);
  background-size: 100%;
}

.img_oellet {
  height: 250px;
  width: 500px;
  background-image: url(imgs/oellet.png);
  background-size: 100%;
}

.img_defenders {
  height: 250px;
  width: 500px;
  background-image: url(imgs/defenders.png);
  background-size: 100%;
}

.txt {
  margin-top: 10px;
}

.link {
  width: 150px;
  height: 35px;
  /* background-color: grey; */
  text-align: center;
  margin: 50px 0 50px;
  bottom: 0px;
}

.link a:hover {
  text-decoration: underline;
}

/* SECTON 3 CONTACT */

.my_info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;

  margin: 50px 50px 0px 50px;
}

span {
  font-family: quicksand, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.linkedin {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.linked {
  width: 55px;
  height: 55px;
  background-image: url(imgs/linked.png);
  background-size: 100%;
  margin-right: 10px;
}

.github {
  width: 55px;
  height: 55px;
  background-image: url(imgs/github.svg);
  background-size: 100%;
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
  #indhold {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    padding: 5vw 5vw 5vw 5vw;
    justify-content: center;
  }
}

.copyright {
  width: 100vw;
  height: 60px;

  text-align: center;
}

.copyright p {
  font-size: 0.7rem;
}
